<div class = "comments-border">
    <div class = "comments-room">
<h2>当サイトへの質問箱</h2>
    <div class = "comments-area">
    <%= form_for @comment, :url => {:controller => :comments, :action => :create } do |f| %>
        
        <div class = "form-commment">
            <%= f.text_area :question,  placeholder: '質問を入力'%>
        </div>
            <button><%= f.submit '質問を送信する' %></button>
    <% end %>
    </div>
</div>
</div>
