// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index{
    background-image: url('living-room-2732939_640.jpg');
    background-size: cover;
    
    .product-contents{
      display:flex;
      justify-content: space-between;
      
    .pictures{
        background: rgba(90, 90, 90, 0.5);
        width: 980px;
        border: double;
        margin: 70px 0 70px 0;
        border-radius: 10px;

        
        .picutre-display{
            height: 200px;
            display: flex;
            justify-content: space-between;
            
            
        .picture-ditails{
            width: 100%;
            border-radius: 6px;
            border: double 6px;
            background-color: white;
            margin: 10px;
            
            .comment{
                border: double 3px;
            }
        }
        
            
        }
        
       
        
        img {
            margin: 10px;
            border: double;
        }
    }
    
    .tweet-contents{
        width: 290px;
        height: 670px;
        border: double;
        border-radius: 10px;
        margin-top: 70px;
        margin-left: 100px;
        
        .tweet-member{
            
            .user-count{
                margin: 10px;
            }
        }
    }
    
    }
    
}

/*search.html.erb*/

.search-all{
    background-image: url("pillows-1031079_640.jpg");
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
    
  .product-contents{
      display:flex;
      justify-content: space-between;
      
    .pictures{
        background: rgba(90, 90, 90, 0.5);
        width: 980px;
        border: double;
        margin: 70px 0 70px 0;
        border-radius: 10px;

        
        .picutre-display{
            height: 200px;
            display: flex;
            justify-content: space-between;
            
            
        .picture-ditails{
            width: 100%;
            border-radius: 6px;
            border: double 6px;
            background-color: white;
            margin: 10px;
            
            .comment{
                border: double 3px;
            }
        }
        
            
        }
        
       
        
        img {
            margin: 10px;
            border: double;
        }
    }
    
    .tweet-contents{
        width: 290px;
        height: 670px;
        border: double;
        border-radius: 10px;
        margin-top: 70px;
        margin-left: 100px;
        
        .tweet-member{
            
            .user-count{
                margin: 10px;
            }
        }
    }
    
    }
    

}