body{
    position: relative;
    background-color: #f5f5f5;
    flex-flow:column;
    min-height: 100%;
    padding-bottom: 90px;
}
footer{
    position: absolute;
    background-color: #729;
    width: 100%;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    height:90px;
}


.headers{
    background-color: #699;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
}

.header-contents{
    display:none;
    margin-right:auto;
    background-color: black;
    color: white;
    text-align:center;
    left:0;
    margin-left: auto;
    width: 100px;
}
/*ナビゲーション関連の編集*/
.nav{
    display:none;
    color: green;
    cursor:pointer;
    font-size: 20px;
    margin-top: 4px;
}
#nav div{
    display:none;
}

#nav{
    right:2;
    margin-right: 45px;
    padding:2px;
}

#nav ul {
    padding-top: 6px;
    margin-top: 5px;
    
}
#nav ul li {
    font-size: 10px;
    list-style-type:none;
    display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  transition: .5s;
}


#nav li a:hover{
  color: #ffffff;
  background: #cd5c5c;
  border-bottom: none;
}
.main-contents{
    z-index: 5;
}

.header-contents a{
    margin-left: 3px;
}

.header-name{
    text-shadow: #FC0 1px 0 10px;
    
}

.slide-contents{
    z-index: 1;
}

    
    .footer-contents-top{
    display:flex;
    justify-content: center;
    background-color: #797;
}
.content{
    color: white;
    z-index: 2;
}

.footer-contents-top a{
    margin-left: 20px;
}



a{
    text-decoration: none;
}

.copyright{
    text-align: center;
    line-height: 70px;
}

