/*index.html.erb*/
*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
}
.headers{
    background-color: #699;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    
    .headers-name{
        
        span{
            text-decoration: none;
        }
    
    }
    
    /*1のリンク終了*/
    
    /*検索エンジンコード*/
    .search-form{
        
        label{
            
        }
        
        .search-form{
            
        }
        
        .search-btn{
            
        }
    }
    /*2のリンク終了*/
    
    /*ナビゲーション（動きあり）ボタン式のカーソル呼び出し*/
    
#menu{
    right:2;
    margin-right: 45px;
    padding:2px;
    width: 100px;
    border:1px solid #999;
    color:#999;
    cursor:pointer;
     color: green;
    list-style:none;
    text-decoration:none;
    cursor:pointer;
    font-size: 14px;
    margin-top: 4px;
    
    
    }
    
.header-contents{
    transition: .5s;
    z-index: 100;
    color: #57;
    margin-top: 46px;
    position: fixed;
    text-align: right;
    right: 0;
        
    .open-menu{
        width: 50%;
    }
ul{
    
    text-align:right;
    display:inline-block;
    list-style: none;
    color:white;
    
li{
  display:none;
  font-size: 20px;
  margin: 0 15px;
  transition: .5s;
  text-align: center;
  
  a{
      margin-left: 3px;
      margin: 2rem 0;
      display: block;
      
      &:hover{
          color: white;
      }
  }
}
    
 }
    }
}
    /*3のリンクの終了*/
    
    /*headerの下にあるコンテンツの開設*/

    /*４のリンクが終了*/
    
.contents{
    border:inset 7px #779;
    display: flex;
    z-index: 2;
    
.contents-name{

ul{
    display: inline-block;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
    li{
        padding: 20px;
        border: inset  6px #580;
        border-radius: 3px;
        background-color: #AEDC;
        text-decoration: none;
        margin-right: 16px;
        cursor: pointer;
        
    &.selected {
         background-color: white;
         color: green;
         }
}
    }
    
}



    


.contents-menu{
    display: inline-block;
    
    .left{
        margin: 5px;
        border:double 3px blue;
        display: inline-block;
        padding: 4px;
    }
    
    .right{
        display:none;
        margin: 5px;
        border:double 3px blue;
        display: inline-block;
        padding: 4px;
    }
}



.reviews-form{
    height: 700px;
    background-image: url("apartment-5974511_640.jpg");
    background-size: cover;
    text-align:center;
    letter-spacing: 10px;
    justify-content: center;
    
    input[type= text]{
        width: 63%;
        margin: 30px;
    }
    
    textarea{
        width: 65%;
        height: 190px;
        margin: 25px;
    }
    
    .form-fileds{
        color: white;
        
        label{
            margin: 40px;
        }
        
        input[type= submit]{
            width: 50%;
            font-weight: strong;
            letter-spacing: 5px;
            margin-top: 20px;
        }
    }
 
}

/*edit.html.erb*/
.edit-form{
    background-image:url('but0019-013.jpg');
    background-size: cover;
    overflow:hidden;
    
    form{
        margin: 90px auto;
        text-align: center;
        
        label{
            line-height: 100%;
        }
        
        .e-form{
            margin: 30px;
            background: rgba(80 ,90, 100, 0.1);
            
            textarea{
                height: 191px;
                width: 448px;
            }
        }
        
    }
}
