// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweets-main{
    background-color: #f5f5f5;
    
    .product-tweets{
        width: 700px;
        height: 900px;
        margin: 30px 150px;
        display: flex;
        
        img{
            border: double 5px black;
            border-radius: 9px;
        }
        .pt-tweets{
            margin-top: 210px;
            background-size: cover;
            
            form{
            width: 550px;
            border: inset 3px black;
            border-radius: 5px;
            text-align:center;
            
            textarea{
                width: 380px;
                height: 150px;
            }
        }
        }
        
        
    }
}